// Refer to:
// https://github.com/NiklasEi/bevy_asset_loader/blob/main/bevy_asset_loader/assets/full_dynamic_collection.assets.ron
({
    "prefabs": Files (
        paths: [
            "prefabs/polo_bun.glb",
            "prefabs/baguette.glb",
            "prefabs/rotisserie.glb",
            "prefabs/wok.glb",
            "prefabs/gun_tower.glb",
            "prefabs/cannon_tower.glb",
            "prefabs/mouse_a.glb"
        ],
    ),

    "scenes.default": File (
        path: "scenes/default_scene.glb",
    ),

    "scenes.level1": File (
        path: "scenes/bread_level.glb",
    ),
})
